name: Build and Package Go Application

on:
  push:
    branches:
      - master
      - develop
jobs:
  build-and-package:
    name: Build and Package
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        goarch: [amd64, arm64]
        goos: [linux]
        include:
          - goarch: amd64
            debArch: amd64
          - goarch: arm64
            debArch: arm64
    
    steps:
    - name: Check out code
      uses: actions/checkout@v2
      
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '^1.17' # Adjust as needed for your Go version requirements
    
    - name: Make Directory Structure
      run: mkdir -p "output" 

    - name: Build Binary
      run: |
        GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -ldflags="-X 'main.GitCommitHash=${{ github.sha }}'" -v -o output/github-replica github_replica.go
        
    - name: Upload Binary
      uses: actions/upload-artifact@v2
      with:
        name: github-replica-binary-${{ matrix.goarch }}
        path: ./output/github-replica

